h1{font-family: 'Climate Crisis', cursive;color: white; }
.img{display: flex; justify-content: center;}
.span-html{display: flex; justify-content: center;color: blueviolet; }
body{background-image: url(image/wallpaperbetter\ \(2\).jpg); background-size: cover;}